<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card card-block card-stretch card-height">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4 card-total-sale">
                    <div class="icon iq-icon-box-2 bg-info-light">
                        <img src="~/assets/images/page-img/14.png" class="img-fluid" alt="image">
                    </div>
                    <div>
                        <p class="mb-2">Total Students</p>
                        <a href="@Url.Action("StudentDetail", "Form", new {})"><h4 class="TotalStudent"></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card card-block card-stretch card-height">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4 card-total-sale">
                    <div class="icon iq-icon-box-2 bg-danger-light">
                        <img src="~/assets/images/page-img/a3.png" class="img-fluid" alt="image">
                    </div>
                    <div>
                        <p class="mb-2">Total Sponsers</p>
                        <a href="@Url.Action("SponsershipDetails", "SM", new {})"><h4 class="TotalSponser"></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card card-block card-stretch card-height">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4 card-total-sale">
                    <div class="icon iq-icon-box-2 bg-success-light">
                        <img src="~/assets/images/page-img/birthday.png" class="img-fluid" alt="image">
                    </div>
                    <div>
                        <p class="mb-2">Birth Days</p>
                        <a href=""><h4 class="BirthDays"></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
