
@{
    ViewBag.Title = "UserRight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="faqAccordion" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">User Rights</h4>
                    </div>
                    @{ Html.RenderAction("FormButton", "Admin");}
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>User :</label>
                        <select name="type" class="selectpicker form-control" data-style="py-0" id="Userlist">
                           
                        </select>
                    </div>
                    <hr />
                    <h5>Menu List</h5>
                    <div class="iq-accordion career-style faq-style" id="accordion">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script async src="~/Scripts/PageJs/UserRight.js"></script>

