
@{
    ViewBag.Title = "AddEditStudentDetails";
}
<input type="hidden" id="StudentID"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title FormHead">Add Student</h4>
                    </div>
                    @{ Html.RenderAction("FormButton", "Admin");}

                </div>
                <div class="card-body p-0">
                    <div class="iq-edit-list usr-edit">
                        <ul class="iq-edit-profile d-flex nav nav-pills">
                            <li class="col-md-3 p-0">
                                <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                    Personal Information
                                </a>
                            </li>
                            <li class="col-md-3 p-0">
                                <a class="nav-link" data-toggle="pill" href="#education-information">
                                    Education Information
                                </a>
                            </li>
                            <li class="col-md-3 p-0">
                                <a class="nav-link" data-toggle="pill" href="#family-information">
                                    Family Information
                                </a>
                            </li>
                            <li class="col-md-3 p-0">
                                <a class="nav-link" data-toggle="pill" href="#contact-information">
                                    Contact Information
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="iq-edit-list-data">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Personal Information</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-12">
                                            <div class="profile-img-edit">
                                                <div class="crm-profile-img-edit">
                                                    <img class="crm-profile-pic rounded-circle avatar-100" src="~/assets/images/user/11.png" alt="profile-pic" id="imgPreview">
                                                    <div class="crm-p-image bg-primary">
                                                        <i class="las la-pen upload-button"></i>
                                                        <input class="file-upload" type="file" accept="image/*" id="photo">
                                                        <input type="hidden" id="StudentImgID"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row align-items-center">
                                        <div class="form-group col-sm-6">
                                            <label for="fname">First Name:</label>
                                            <input type="text" class="form-control" id="StudentFirstName">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">Last Name:</label>
                                            <input type="text" class="form-control" id="StudentLastName">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="d-block">Gender:</label>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="rbMGender" name="rbGender" class="custom-control-input" value="M" checked>
                                                <label class="custom-control-label" for="rbMGender"> Male </label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="rbFGender" name="rbGender" class="custom-control-input" value="F">
                                                <label class="custom-control-label" for="rbFGender"> Female </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">Date Of Birth:</label>
                                            <input class="form-control" id="StudentDateOfBirth" type="date">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>Address:</label>
                                            <textarea class="form-control" name="StudentAddress" id="StudentAddress" rows="4">
                                            </textarea>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">City:</label>
                                            <input type="text" class="form-control" id="city">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Country:</label>
                                            <select id="StudentCounty" class="selectpicker form-control" data-style="py-0"></select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">NIC:</label>
                                            <input type="text" class="form-control" id="StudentNIC">
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="education-information" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Education Information</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>

                                    <div class=" row align-items-center">
                                        <div class="form-group col-sm-12">
                                            <label for="fname">School Name:</label>
                                            <input type="text" class="form-control" id="SclName">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label>School Address:</label>
                                            <textarea class="form-control" name="SclAddress" id="SclAddress" rows="5" style="line-height: 22px;">
                                            </textarea>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">Grade:</label>
                                            <input type="text" class="form-control" id="CurrentGrade" >
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">Higest Grade in School:</label>
                                            <input type="text" class="form-control" id="HigestGrade" >
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="fname">Highest Education Achievement:</label>
                                            <input type="text" class="form-control" id="HigestAchievement">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">Achievement Year/Month:</label>
                                            <input type="month" class="form-control" id="AchievementMonth">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">Register Date:</label>
                                            <input class="form-control" id="RegisterDate" type="date">
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rbSchol">
                                            <label class="custom-control-label" for="rbSchol">Have another Scholarship ?</label>
                                        </div>
                                        <div class="form-group col-sm-12" id="FundDIV">
                                            <label for="fname">Name of Fund:</label>
                                            <input type="text" class="form-control" id="NameOfFund">
                                        </div>
                                        <div class="form-group col-sm-6" id="NumberDIV">
                                            <label for="dob">Fund Amount:</label>
                                            <input class="form-control" id="FundAmount" type="number">
                                        </div>

                                    </div>
                                    <hr />
                                    <p>Examination Results</p>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group col-6 .col-md-4">
                                            <label for="lname">Exam Type:</label>
                                            <select class="selectpicker form-control" id="ExamType" data-style="py-0">
                                            </select>
                                        </div>
                                        <div class="form-group col-6 .col-md-4">
                                            <label for="lname">Subject Name:</label>
                                            <input type="text" class="form-control" id="SubjectName">
                                        </div>
                                        <div class="form-group col-6 .col-md-4">
                                            <label>Grade:</label>
                                            <select class="selectpicker form-control" id="SubjectGrade" data-style="py-0">
                                            </select>
                                        </div>
                                        <div class="form-group col-6 .col-md-4">
                                            <label></label>
                                            <button type="button" id="btnAddToGrid" class="btn btn-primary" onclick="AddtoGrid();">Add to Grid</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped jambo_table bulk_action" id="tblDetails">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th hidden>Type ID</th>
                                                            <th>Exam Type</th>
                                                            <th>Subject Name</th>
                                                            <th hidden>Grade ID</th>
                                                            <th>Grade</th>
                                                            <th width="20">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tableBody">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="family-information" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Family Information</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class=" row align-items-center">
                                        <div class="form-group col-sm-12">
                                            <label for="fname">Father's Name:</label>
                                            <input type="text" class="form-control" id="FatherName">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">Father's Occupation:</label>
                                            <input type="text" class="form-control" id="FartherOccupation">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">Monthly Income:</label>
                                            <input class="form-control" id="fatherAmount" type="number">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="fname">Mother's Name:</label>
                                            <input type="text" class="form-control" id="MotherName">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="lname">Mother's Occupation:</label>
                                            <input type="text" class="form-control" id="MotherOccupation">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">Monthly Income:</label>
                                            <input class="form-control" id="MotherAmount" type="number" >
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">No Of Brothers:</label>
                                            <input class="form-control" id="NoOfBrothers" type="number" >
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">No Of Sisters:</label>
                                            <input class="form-control" id="NoOfSisters" type="number" >
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">Are any brothers employed, Monthly Income:</label>
                                            <input class="form-control" id="BrotherIncome" type="number">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="dob">Are any sisters employed, Monthly Income:</label>
                                            <input class="form-control" id="SisterIncome" type="number">
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-information" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Contact Information</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="cno">Contact Number:</label>
                                        <input type="text" class="form-control" id="StudentContactNo">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="text" class="form-control" id="StudentEmail">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script async src="~/Scripts/PageJs/Student.js"></script>
