
@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-transparent card-block card-stretch card-height border-none">
                <div class="card-body p-0 mt-lg-2 mt-0">
                    <h3 class="mb-3">Hi @SM.UserObjects.UserDetail.FullName, <br /><span id="greeting"></span></h3>
                    <p class="mb-0 mr-4" id="HomeDisplay"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            @{ Html.RenderAction("TopWidget", "Admin");}
        </div>
        <div class="col-lg-6">
            @{ Html.RenderAction("MiddleWidget", "Admin");}
        </div>
        <div class="col-lg-6">
            <div class="card">
                @{ Html.RenderAction("Right1Widget", "Admin");}
            </div>
            <div class="card">
                @{ Html.RenderAction("Right2Widget", "Admin");}
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/PageJs/DashBoard.js"></script>

